body {
    background-color: #f5f5f5;
    padding: 60px;
}

#no-result {
    display: none;
}

#book-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.span-2 {
    grid-column: 1 / span 2;
}

.book {
    border-radius: 10px;
}